$col1: #f38181; // red
$col2: #fce38a; // yellow
$col3: #eaffd0; // light green
$col4: #95e1d3; // light turquoise

$color__background-body: #111;
$color__background-screen: $col2;
$color__background-hr: $col3;
$color__background-button: #f38181;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #f38181;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$text-color: #444;
$bg-color: $color__background-body;
